.sidebar {
  position: sticky;
  top: 122px;
}

.result {
  margin-bottom: 48px;
}

.contentCenter {
  text-align: center;
}

.hiddenMd {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
